body{
    imagenes{
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
    
    img-principal1 {
        width: 300px;
        height: 300px;
        
    }
    img-principal2 {
        width: 300px;
        height: 300px;
        
    }
}