footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #DADFDD;
    justify-content: space-evenly;
    
   }

.copyright{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.copyright.p{
text-align: center;
background-color: #3A7058;

}