 footer{
       
            display: flex; 
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: space-between;
            ul{ 
                display: flex;
                 img{
                     width: 150px;
                    height: 150px; 
                    }
                
                    
                }
        
    }

